<div>
    <mat-form-field>
        <input  matInput placeholder="Nombres" [(ngModel)]="paciente.nombres" minlength="3">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Apellidos" [(ngModel)]="paciente.apellidos" minlength="3">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="DNI" [(ngModel)]="paciente.dni" type="number">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Dirección" [(ngModel)]="paciente.direccion">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Telefono" [(ngModel)]="paciente.telefono">
    </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
