<mat-card>Ingrese los datos signos vitales del paciente</mat-card>

<form class="example-container" [formGroup]="form" #frmSignoVital="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
            [formControl]="myControlPaciente" formControlName="paciente"  style="width: 50%; ">  
            <button mat-raised-button color="accent" (click)="abrirModal()" style="float: right; margin-right: 20px;" >
                <mat-icon>create</mat-icon>
            </button>     
    </mat-form-field>
    
    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente"
        (optionSelected)="seleccionarPaciente($event)">
        <mat-option *ngFor="let p of pacientesFiltrados | async" [value]="p">
            {{ p.nombres }} {{p.apellidos}}
        </mat-option>
    </mat-autocomplete> 
    
    <mat-form-field class="example-full-width">
        <!--<input matInput placeholder="Fecha" required formControlName="fecha">-->
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [max]="maxFecha"
            required formControlName="fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Temperatura" required formControlName="temperatura">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pulso" required formControlName="pulso" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ritmo respiratorio" required formControlName="ritmoRespiratorio">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmSignoVital.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/signo-vital' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>
